*.class
*.log
*.jar

# master version
src/main/resources/master

# tdb storage
.trigram/*
# except place holder
!.trigram/_tdb_

# CIM schema
cim/*
# CIM schema downloader and Vocabulary
!cim/get-cim
!cim/CIM-CLASS
!cim/CIM-PROPERTY

# protege catalog
catalog-v001.xml

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# eclipse
.cache
.classpath
.project